<% layout("/layouts/boilerplate.ejs") -%>
<div class="row">
  <div class="col-8 offset-2">
    <h3>Create a New Listing</h3>
    <form method="POST" action="/listings" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          name="listing[title]"
          placeholder="Enter title here"
          type="text"
          class="form-control"
          required
        />
        <div class="valid-feedback">Title Looks good!</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          class="form-control"
          name="listing[description]"
          required
        ></textarea>
        <div class="invalid-feedback">Description is required</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input
          class="form-control"
          name="listing[image]"
          placeholder="Enter image url here"
          type="text"
        />
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            class="form-control"
            name="listing[price]"
            placeholder="Enter price here"
            type="number"
            required
          />
          <div class="invalid-feedback">Price should be valid</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            class="form-control"
            name="listing[country]"
            placeholder="Enter country here"
            type="text"
            required
          />
          <div class="invalid-feedback">Country is required</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          class="form-control"
          name="listing[location]"
          placeholder="Enter location here"
          type="text"
          required
        />
        <div class="invalid-feedback">Location is required</div>
      </div>

      <button class="btn btn-dark">Submit</button>
    </form>
  </div>
</div>
